## One hot encoding

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('TatanicDataSet.csv', usecols=['Sex'])

In [5]:
pd.get_dummies(df, drop_first=True)

     Sex_male
0           1
1           0
2           0
3           0
4           1
..        ...
886         1
887         0
888         0
889         1
890         1

[891 rows x 1 columns]